@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  background: #0b0b0b;
  color: #e5e7eb;
  overflow: hidden;
}

* {
  user-select: none;
}

input,
textarea {
  user-select: text;
}
